<template name="dateRangeForm">
  <div class="form-inline">
    <div class="form-group has-feedback">
      <label for="initialDate">From Date:</label>
      <input type="text" class="form-control datepicker" name="initialDate">
      <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="form-group has-feedback">
      <label for="finalDate">To Date:</label>
      <input type="text" class="form-control datepicker" name="finalDate">
      <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
    </div>
  </div>
</template>
