<template name="homepageContactForm">
  <h2 class="text-center" style="color: #000; font-family: Allura; font-size: 36px;">Contact Us</h2>
  <form id="contactform">
    <div class="row" style="margin-bottom:15px;">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="input-group">
          <div class="input-group-addon custom-input-group-addon"><i class="fa fa-bicycle"></i></div>
          <input type="text" name="fullName" class="form-control form-control-contact" placeholder="Name" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon custom-input-group-addon"><i class="fa fa-envelope"></i></div>
          <input type="text" name="email" class="form-control form-control-contact" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="input-group">
          <div class="input-group-addon custom-input-group-addon"><i class="fa fa-globe"></i></div>
          <input type="text" name="website" class="form-control form-control-contact" placeholder="Website" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon custom-input-group-addon" style="padding: 6px 13.5px"><i class="fa fa-phone"></i></div>
          <input type="text" name="phone" class="form-control form-control-contact" placeholder="Phone" />
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-sm-8 col-sm-offset-2">
        <textarea name="comments" class="form-control form-control-contact" placeholder="Comments"></textarea>
      </div>
    </div>
    <div class="row text-center">
      <input type="submit" value="CONTACT PEDISPACE" class='btn btn-primary' />
    </div>
  </form>
</template>
