<template name="homepageContactForm">
  <h2 class="text-center"><u>Contact Us</u></h2>
  <form>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <input type="text" name="fullName" class="form-control" placeholder="Name" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
          <input type="text" name="email" class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-globe"></i></div>
          <input type="text" name="website" class="form-control" placeholder="Website" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-phone"></i></div>
          <input type="text" name="phone" class="form-control" placeholder="Phone" />
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-sm-8 col-sm-offset-2">
        <textarea name="comments" class="form-control" placeholder="Comments"></textarea>
      </div>
    </div>
    <div class="row text-center">
      <input type="submit" value="Contact pediSpace" class='btn btn-primary' />
    </div>
  </form>
</template>
