<template name="printSchedule">
  <div class="form-horizontal">
  <div class="form-group" name="dateRange">
    <label for="dateRange" class="col-sm-3 control-label">Select Schedule:</label>
    <div class="col-sm-9">
      <select class="form-control" id="dateRange" name="dateRange">
        <option value="0" selected>Current Schedule (thru {{thisSat}})</option>
        <option value="7">Next Week (thru {{nextWeek}})</option>
      </select>
    </div>
  </div>
  </div>
  {{#each scheduleDates inc}}
    {{> scheduleDay}}
  {{/each}}
</template>