<template name="requestList">
  {{#each requests}}
    {{> requestItem}}
  {{/each}}
</template>

<template name="requestItem">
  <div class="item">
    <div class="item-content">
      <span><b>Biker:</b> {{bikerName}}</span><br />
      <span><b>Date:</b> {{requestDateNice}}</span><br />
      <span><strong>Comments: </strong></span>{{comments}}
    </div>
    <div class="item-content-mid">
      <span>
        <b>Schedule Type:</b> {{shiftType}}<br />
      </span><br />
      <span>
        <b>Rate Guaranteed:</b> {{#if guaranteeRate}}<span style="color:green">Yes</span>{{/if}}
      </span><br />
      <span><b>Confirmed:</b>
        {{#if scheduled}}
          <span style="color:green;">Scheduled as {{alternate}}</span>
        {{else}}
          <span style="color:red;">Not Scheduled</span>
        {{/if}}
      </span>
    </div>
    <div class="item-content-right">
    {{#if isInRole 'admin,manager'}}
      {{#if scheduled}}
        <buttton type="button" class="btn btn-warning" name="unconfirm-button" id="unconfirm">Unconfirm</buttton>
      {{else}}
        <buttton type="button" class="btn btn-success" name="confirm-button" id="rider">Rider</buttton>
        <buttton type="button" class="btn btn-success" name="confirm-button" id="alternate">Alternate</buttton>
      {{/if}}
    {{else}}
      {{#if timeElapse}}
        <a href="{{pathFor 'requestEdit'}}"><buttton type="button" class="btn btn-primary" name="edit-button" id="edit">Edit Request</buttton></a>
      {{/if}}
    {{/if}}
    </div>
  </div>
</template>
