<template name="scheduleDay">  
  <div class="item item-s">
    <div class="col-xs-12">
      <h3>{{dateValuef}}</h3>
      <h4><b><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Scheduled Riders</b></h4>
      <div class="col-xs-4">
        <h5>AM Shift</h5>
        <strong>Riders:</strong>
        <ol>
        {{#each riders "AM" true}}
          {{> scheduleDayUser}}
        {{/each}}
        </ol>
        <strong>Alternates:</strong>
        <ol>
        {{#each riders "AM" false}}
          {{> scheduleDayUser}}
        {{/each}}
        </ol>
      </div>
      <div class="col-xs-4">
        <h5>PM Shift</h5>
        <strong>Riders:</strong>
        <ol>
        {{#each riders "PM" true}}
          {{> scheduleDayUser}}
        {{/each}}
        </ol>
        <strong>Alternates:</strong>
        <ol>
        {{#each riders "PM" false}}
          {{> scheduleDayUser}}
        {{/each}}
        </ol>
      </div>
      <div class="col-xs-4">
        <h5>FLEX Shift</h5>
        <strong>Riders:</strong>
        <ol>
        {{#each riders "FLEX" true}}
          {{> scheduleDayUser}}
        {{/each}}
        </ol>
        <strong>Alternates:</strong>
        <ol>
        {{#each riders "FLEX" false}}
          {{> scheduleDayUser}}
        {{/each}}
        </ol>
      </div>
    </div>
  </div>
</template>