<template name="scheduleDay">
  <div class="panel panel-info" style="margin-top:15px">
    <div class="panel-heading">
      <h3 class="panel-title text-center">{{scheduleDateNice}}</h3>
    </div>
    <div class="panel-body">
      {{#let scheduleDate=scheduleDateNice}}
        {{#each shiftType}}
          <div class="col-xs-4 col-xs-offset-2">
            <h5>{{name}}</h5>
            {{#each rider name scheduleDate}}
              <button class="riderName" data-content="{{popoverHTML}}">
                {{profile.name}}
              </button>
            {{/each}}
          </div>
        {{/each}}
      {{/let}}
    </div>
  </div>
</template>

<template name="popoverTemplate">
  <div class="popover" role="tooltip">
    <div class="arrow"></div>
    <h3 class="popover-title">
      <i class="fa fa-phone"></i>{{profile.phoneNumber}}
    </h3>
    <div class="popover-content">
    </div>
  </div>
</template>
