<template name = "login">
	<div class="container-fluid">
		<div class="row pedispace-title-body">
			<img class="center-block" src="/img/pedispacelogo.png">
			<h1 class="text-center">Pedicab business management made easy</h1>
			<h4 class="text-center">pediSPACE is a pedicab management application<br>written in Meteor</h4>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row rickshaw-row">
			<div class="col-md-4">
				<img class="center-block img-rounded" src="/img/calendar.png">
				<h2 class="text-center" style="font-color: #004822;">Simplify scheduling</h2>
				<h3 class="text-center text-muted">Managers can set rates for each day and riders can request shifts, guarantee their rate, and make comments</h3>
			</div>
			<div class="col-md-4">
				<img class="center-block img-rounded" src="/img/Rickshaw1.png">
				<h2 class="text-center" style="font-color:#004822;">Improve employee productivity</h2>
				<h3 class="text-center text-muted">Easily rank rider performance</h3>
		  </div>
			<div class="col-md-4">
			<img class="center-block img-rounded" src="/img/usd.png">
				<h2 class="text-center" style="font-color:#004822;">Track revenue history</h2>
				<h3 class="text-center text-muted">Managers can check revenue for specific dates and look at trends over time</h3>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row button-row">
			<div class="col-md-6">
				<img class="img-responsive img-rounded" style="position:relative; text-align: left;" src="/img/manager1.jpg">
				<a class="btn btn-default" href="#" role="button" style="font-family: Montserrat;position:absolute;bottom:0em;left:0.99em;">Sign up as a manager</a>
			</div>
			<div class="col-md-6">
				<img class="img-responsive img-rounded" style="position:relative; text-align: right;" src="/img/riders1.jpg">
				<a class="btn btn-default" href="#" role="button" style="font-family: Montserrat;position:absolute;bottom:0em;right:0.99em;">Sign up as a rider</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row screen-shot-row">
			<div class="col-md-6">
				<h2 class="text-center" style="color: #396faf;">Detailed User Functionality</h2>
				<h4 class="text-center">There are 3 ways to log in; as a manager, rider, or the shop. Managers and riders can create their own individual accounts.</h4>
			</div>
			<div class="col-md-6">
				<img class="center-block img-responsive" src="/img/screen_shot_user functionality.jpg">
				<img class="center-block img-responsive" src="/img/screen shot user2.jpg">
			</div>
	  </div>
		<div class="row screen-shot-row">
			<div class="col-md-6">
				<img class="center-block img-responsive" src="/img/screen_shot_bike.jpg">
				<img class="center-block img-responsive" src="/img/screen_shot_radio.jpg">
			</div>
			<div class="col-md-6">
				<h2 class="text-center" style="color: #396faf;">Bike, Location, & Radio Management</h2>
			</div>
		</div>
	</div>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template>
