<template name = "login">
<div class="container-fluid">
	<div class="row pedispace-title-body">
		<img class="center-block" src="/img/pedispacelogo.png">
		<h1 class="text-center">Pedicab business management made easy</h1>
	</div>
</div>
	<div class="container">
		<div class="row rickshaw-row">
			<img class="center-block img-rounded" src="/img/Rickshaw1.png">
			<h2 class="text-center">A pedicab management application<br>written in Meteor</h2>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row button-row">
			<div class="col-md-6">
				<img class="img-responsive img-rounded" style="position:relative; text-align: left;" src="/img/manager1.jpg">
				<a class="btn btn-default" href="#" role="button" style="font-family: Montserrat;position:absolute;bottom:0em;left:0.99em;">Sign up as a manager</a>
			</div>
			<div class="col-md-6">
				<img class="img-responsive img-rounded" style="position:relative; text-align: right;" src="/img/riders1.jpg">
				<a class="btn btn-default" href="#" role="button" style="font-family: Montserrat;position:absolute;bottom:0em;right:0.99em;">Sign up as a rider</a>
			</div>
		</div>
	</div>

</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template>
