<template name="userItem">
  <div class="item">
    <div class="item-content">
	    <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{profile.name}}</h3>
	    <small><b>Location:</b> {{locationName}}</small><br />
	    <small><b>Status:</b> {{#if profile.active}}Active{{else}}Not Active{{/if}}</small>
    </div>
    <div class="item-content-mid">
      <small><b>Phone Number:</b> {{profile.phoneNumber}}</small><br />
      <small><b>Email:</b> <a href="mailto:{{emails.[0].address}}">{{emails.[0].address}}</a> ({{#if emails.[0].verified}}Verified{{else}}Not Verified{{/if}})</small><br />
      <small><b>Role:</b> {{roles.[0]}}</small>
    </div>
    <div class="item-content-right">
    	<a href="{{pathFor 'userEdit'}}"><button type="button" class="btn btn-default" aria-expanded="false">Edit</button></a>
    </div>
  </div>
</template>