<template name="requestsCal">
  <div class="row">
    <p class="lead"><a href="{{pathFor 'requestList'}}">Set Schedule (List View)</a> | <a href="{{pathFor 'rateSchedule'}}">Set Rates (List View)</a></p>
  </div>
  <div class="col-xs-8">
    {{> dateRangeForm}}
  </div>
  <div class="col-xs-4">
    {{#if isInRole 'manager'}}
      <i class="fa fa-info fa-2x valign-center"></i>=Hover over to see comments<br/>
      <i class="fa fa-times-circle fa-2x text-warning valign-center"></i>=Click to Unconfirm Schedule<br/>
      <i class="fa fa-bicycle fa-2x text-success valign-center"></i>=Click to Confirm Request as Rider<br/>
      <i class="fa fa-mobile fa-2x text-success valign-center"></i>=Click to Confirm Request as Alternate
    {{/if}}
  </div>
  {{#if Template.subscriptionsReady}}
  {{#if shiftTypesCount}}
    <table class="table request-table text-center">
      <thead>
        <tr>
          <th>Date</th>
          {{#each shiftType in shiftTypes}}
            <th>{{shiftType.name}} <small>starts at {{shiftType.startTime}}</small></th>
          {{/each}}
        </tr>
      </thead>
      {{#each scheduleDate in scheduleDates}}
        <tr>
          <th>
            {{scheduleDateNice scheduleDate.scheduleDate}}<br/>
            {{#if isInRole 'manager'}}
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#setRates{{dateNum scheduleDate.scheduleDate}}">Set Rates</button>
            {{/if}}
          </th>
          {{> setRates scheduleDate}}
          {{#each shiftType in shiftTypes}}
            {{#if isInRole 'manager'}}
              {{> specificShiftManager shiftTypeId=shiftType._id scheduleDate=scheduleDate.scheduleDate}}
            {{else}}
              {{> specificShiftRider shiftTypeId=shiftType._id scheduleDateSpecific=scheduleDate.scheduleDate}}
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    </table>
  {{else}}
  <div class="jumbotron text-center jumbotron-shift-list">
    <strong><h3>Looks like you haven't set up any shift types.</h3></strong>
    <a href="{{pathFor 'listShiftTypes'}}">
      <button type="button" class="btn btn-primary">
        Click here to set one up!
      </button>
    </a>
  </div>
  {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="shiftComments">
  <div class="row">
    {{#if request}}
      {{#if request.comments}}
        <strong>Request Comments:</strong> {{request.comments}}<br/>
      {{/if}}
      <strong>Rate Guaranteed:</strong>
        {{#if request.guaranteeRate}}
          <i class="fa fa-check text-success"></i>
        {{else}}
          <i class="fa fa-close text-danger"></i>
        {{/if}}
    {{/if}}
  </div>
  <div class="row">
    {{#if rate}}
      <strong>Rate:</strong> ${{rate.rateAmount}}<br/>
      {{#if rate.comments}}
        <strong>Rate Comments:</strong> {{rate.comments}}
      {{/if}}
    {{/if}}
  </div>
</template>
