<template name="specificShiftRider">
  <td>
    {{#if requested scheduleDateSpecific shiftTypeId}}
      {{#if scheduled scheduleDateSpecific shiftTypeId}}
        <strong>Scheduled for Shift:</strong> <i class="fa fa-check text-success"></i>
        {{#if rider scheduleDateSpecific shiftTypeId}}
          <i class="fa fa-bicycle fa-lg text-success valign-center"></i>
        {{else}}
          <i class="fa fa-mobile fa-lg text-success valign-center"></i>
        {{/if}}
        {{> shiftComments scheduleDate=scheduleDateSpecific shiftTypeId=shiftTypeId}}
      {{else}}
        <div class="row">
          <a href="{{pathFor 'requestEdit' data=(requestIdPath scheduleDateSpecific shiftTypeId)}}">
            <buttton type="button" class="btn btn-default edit-button">
              Edit Request
          </buttton></a>
        </div>
        <div class="row">
          <buttton type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{requestId scheduleDateSpecific shiftTypeId}}">
            <i class="fa fa-calendar-check-o"></i> Delete Request
          </buttton>
        </div>
        {{> shiftComments scheduleDate=scheduleDateSpecific shiftTypeId=shiftTypeId}}
        {{> deleteModal requestId=(requestId scheduleDateSpecific shiftTypeId)}}
      {{/if}}
    {{else}}
      <button class="btn btn-default" name="request-button" data-toggle="modal" data-target="#requestModal{{requestRandomId}}">
        <i class="fa fa-calendar-check-o"></i> Request
      </button>
      {{> shiftComments scheduleDate=scheduleDateSpecific shiftTypeId=shiftTypeId}}
      {{> requestModal requestId=requestRandomId scheduleDate=scheduleDateSpecific shiftTypeId=shiftTypeId}}
    {{/if}}
  </td>
</template>
