#main {
	position: relative;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding-top: 5px;
  text-align: right;
  background-color: #f5f5f5;
}
.grid-block, .main, .item, .comments li, .comment-form {
  background: #fff;
	font-family: "Montserrat", sans-serif;
  border-radius: 3px;
	border: 2px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #fff;
  color: #000;
	overflow-x: hidden;
  padding-top: 50px;
}

 body > .container {
  margin-bottom: 40px;
	padding-top:10px;
}
.page {
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.item {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; min-width: 200px}
  .item:before, .item:after {
    content: "";
    display: table; }
  .item:after {
    clear: both; }
  .item.invisible {
    opacity: 0; }
  .item.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .item.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .item .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .item .item-content {
    float: left;
    min-width: 100%; }
    .item .item-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .item .item-content h3 a {
        display: inline-block;}
      .item .item-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .item .item-content p {
      margin: 0; }
  .item .discuss {
    display: block;
    float: right;
    margin-top: 7px; }
  .glyphicon {
    margin-right: .25em;
  }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.items .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron.jumbotron-main-page {
  background-color: #000;
	color: #fff;
	padding: 0px 0px 0px 0px;
}
.jumbotron h2{
  font-size: 50px;
  font-weight: 300;
	color: #fff;
}
.required:after {
	content:"*";
	color:red;
 }
.help-block {
  margin:0;
  padding: 0;
}
.row.rickshaw-row {
	background-color: white;
	padding: 30px 0px 30px 0px;
	margin-top: 0px;
}
.row.button-row {
	padding:25px;
	background-color: #B2DFDB;
}

.row.button-row div {
	margin-bottom:15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
}
h1 {
	font-size: 24px;
	color: #000;
	opacity: 0.87;
}

h2 {
	font-size: 24px;
	color: #004D40;
}
h3 {
	font-size: 17px;
	font-weight: lighter;
	color: #000;
	line-height: 1.4em;
}
h4 {
	color: #000;
	font-size: 16px;
	font-weight: 300;
}
h5 {
	color: rgba(0,0,0,0.54);
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2em;
}
p {
	font-family: "Montserrat", sans-serif;
	line-height: 1.6em;
}
.pedispace-title-body {
	background: #fff url("/img/ughline2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	min-height: 350px;
	padding-top: 1.5em;
}
.pedispace-title-body > h1 {
	margin-top: 0em;
}

.row.screen-shot-row {
	padding: 20px 0px 20px 0px;
	background-color: #fff;
}
.jumbotron-shift-list {
	background-color: #fff;
}
.btn-primary {
    background: #FF6E40;
		border: 1px solid #E57373;
    color: #000;
		font-family: "Montserrat", sans-serif;
		text-transform: uppercase;
	}
	.shop-password-item {
		background-color: #E57373;
	}
	.navbar-inverse .navbar-nav > li > a {
		color: #fff;
		font-family: "Montserrat";
	}
	.mycustomcontainer {
		background-color: #000;
		padding:15px 0;
	}
	.mycustomcontainer .row {
		padding: 0 15px;
	}
	.shop-password-form {
		width:50%;
	}
.request-table td, .request-table th, .request-table thead tr th {
	padding:5px;
	border: 1px solid black;
	text-align: center;
}

.request-table {
	border: 1px solid black;
	margin-top:15px
}
.request-table .edit-button {
	margin-bottom:5px;
}
