<template name="shiftItem">
  <div class="item item-s">
    <div clas="row">
      <div class="col-xs-6">
        <h4><strong><i class="fa fa-user"></i> {{userName}}</strong></h4>
        <strong><i class="fa fa-bicycle"></i> Bike:</strong> {{bikeName}}<br />
        {{#if radioId}}<strong><i class="fa fa-phone"></i> Radio:</strong> {{radioName}}{{/if}}<br />
      </div>
      <div class="col-xs-6">
      	<strong>Start Time:</strong> {{startTimeF}}<br/>
        <strong>End Time:</strong> {{endTimeF}}<br />
      	<strong>Total Made:</strong> ${{totalMade}}<br />
      	<strong>Drop:</strong> ${{ratePaid}}<br />
      	<strong>Shift Rate:</strong> ${{shiftRate}}<br />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <strong>Comments:</strong> {{comments}}
      </div>
    </div>
  </div>
</template>
