<template name="shiftsList">
	{{#if emptyShifts.flag}}
		<!-- <form class="form-inline" name="filterForm">
			<div class="form-group">
		  		<label for="dateFilter">Select Date to Filter</label>
		  		<input type="date" class="form-control" placeholder="Filter Date" name="dateFilter">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
			{{#if shiftsF}}
				<a href="{{pathFor 'shiftAdd'}}"><button class="btn btn-primary reset">Reset</button></a>
			{{/if}}
		</form>
		<br /> -->
		{{#each shifts}}
			{{> shiftItem}}
		{{/each}}
		{{#if Template.subscriptionsReady}}
			{{#if hasMoreShifts}}
				<a href="#" class="load-more">Load More</a>
			{{/if}}
		{{else}}
			{{> loading}}
		{{/if}}
	{{else}}
		<div class="jumbotron text-center jumbotron-shift-list">
			<h3><strong>{{emptyShifts.message}}</strong></h3>
			{{#if emptyShifts.noPassword}}
				{{> setPasswordForShop}}
			{{/if}}
		</div>
	{{/if}}
</template>

<template name="setPasswordForShop">
	<div class="item shop-password-item">
		<h4 style="color: #FF6E40">Looks like you haven't set up a password for your shop account. Set it below.
		This login can be used by all riders to quickly record shift revenue after a completed shift.</h4>
	</div>
	<form class="main form text-left page shop-password-form center-block" style="background-color: #E0F2F1;" name="shopNewPasswordForm">
		<div class="form-group {{errorClass 'password'}}">
			<label class="control-label required" for="password">Password</label>
			<input class="form-control custom-formcontrol-shifts" name="password" type="password">
			<span class="help-block">{{errorMessage 'password'}}</span>
		</div>
		<div class="form-group {{errorClass 'confirmPassword'}}">
			<label class="control-label required" for="confirmPassword">Confirm Password</label>
			<input class="form-control custom-formcontrol-shifts" name="confirmPassword" type="password">
			<span class="help-block">{{errorMessage 'confirmPassword'}}</span>
		</div>
		<div class="form-group text-center">
			<input type="submit" value="Set Shop Password" class="btn btn-primary"/>
		</div>
	</form>
</template>
