<template name="requestsCal">
  <div class="row">
    <p class="lead">View as Calendar | <a href="{{pathFor 'requestList'}}">View as List</a></p>
  </div>
  {{> dateRangeForm}}
  {{#if Template.subscriptionsReady}}
    <table class="table request-table text-center">
      <thead>
        <tr>
          <th>Date</th>
          {{#each shiftType in shiftTypes}}
            <th>{{shiftType.name}}</th>
          {{/each}}
        </tr>
      </thead>
      {{#each scheduleDate in scheduleDates}}
        <tr>
          <th>{{scheduleDateNice scheduleDate.scheduleDate}}</th>
          {{#each shiftType in shiftTypes}}
            {{#if isInRole 'manager'}}
              {{> specificShiftManager shiftTypeId=shiftType._id scheduleDate=scheduleDate.scheduleDate}}
            {{else}}
              {{> specificShiftRider shiftTypeId=shiftType._id scheduleDateSpecific=scheduleDate.scheduleDate}}
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    </table>
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="shiftComments">
  <div class="row">
    {{#if request}}
      {{#if request.comments}}
        <strong>Request Comments:</strong> {{request.comments}}<br/>
      {{/if}}
      <strong>Rate Guaranteed:</strong>
        {{#if request.guaranteeRate}}
          <i class="fa fa-check text-success"></i>
        {{else}}
          <i class="fa fa-close text-danger"></i>
        {{/if}}
    {{/if}}
  </div>
  <div class="row">
    {{#if rate}}
      <strong>Rate:</strong> ${{rate.rateAmount}}<br/>
      {{#if rate.comments}}
        <strong>Rate Comments:</strong> {{rate.comments}}
      {{/if}}
    {{/if}}
  </div>
</template>
