<template name="requestList">
  <div class="row">
    <p class="lead"><a href="{{pathFor 'requestsCal'}}">View as Calendar</a> | View as List</p>
  </div>
  {{#if ready}}
    {{> scheduleRider}}
    <div class="item">
      <center>
        <small>
          You can print the schedule by clicking on print schedule.
        </small>
      </center>
    </div>
    {{#each requests}}
      {{> requestItem}}
    {{/each}}
  {{/if}}
</template>

<template name="requestItem">
  <div class="item">
    <div class="item-content">
      <div class="col-xs-6">
        <span><b>Rider:</b> {{bikerName}}</span><br />
        <span><b>Date:</b> {{requestDateNice}}</span><br />
        <span><b>Shift:</b> {{shiftType}}</span><br />
        <span><strong>Comments: </strong></span>{{comments}}
      </div>
      <div class="col-xs-6 text-right">
        {{#if isInRole 'admin,manager'}}
          {{#if scheduled}}
            <buttton type="button" class="btn btn-warning" name="unconfirm-button" id="unconfirm">Unconfirm</buttton>
          {{else}}
            <buttton type="button" class="btn btn-success" name="confirm-button" id="rider">Rider</buttton>
            <buttton type="button" class="btn btn-success" name="confirm-button" id="alternate">Alternate</buttton>
          {{/if}}
        {{else}}
          {{#if requestConfirmed}}
            <a href="{{pathFor 'requestEdit'}}"><buttton type="button" class="btn btn-default">Edit Request</buttton></a>
            <buttton type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{_id}}">Delete</buttton>
          {{/if}}
        {{/if}}<br/>
        <span><b>Rate Guaranteed:</b> {{#if guaranteeRate}}<span style="color:green">Yes</span>{{else}}<span style="color:red">No</span>{{/if}}</span><br />
        <span><b>Confirmed:</b>
          {{#if scheduled}}
            <span style="color:green;">Scheduled as {{alternate}}</span>
          {{else}}
            <span style="color:red;">Not Scheduled</span>
          {{/if}}
        </span>
      </div>
    </div>
  </div>
  {{> deleteModal requestId=_id}}
</template>
