<template name="scheduleRider">
  <form class="main form page" name="insertForm">
    <div class="form-group has-feedback {{errorClass 'scheduleDate'}}">
      <label class="control-label required" for="scheduleDate">Schedule Date</label>
      <input name="scheduleDate" type="text" placeholder="Select Date" class="form-control"/>
      <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
      <span class="help-block">{{errorMessage 'scheduleDate'}}</span>
    </div>
    {{#if isInRole 'manager'}}
  		<div class="form-group {{errorClass 'userId'}}">
  			<label class="control-label required" for="userId">Rider</label>
  			<select class="form-control" name="userId">
  				<option value="">Choose a Rider</option>
  				{{#each rider}}
  					<option value="{{_id}}">{{profile.name}}</option>
  				{{/each}}
  			</select>
        <span class="help-block">{{errorMessage 'userId'}}</span>
  		</div>
    {{/if}}
    <div class="form-group {{errorClass 'shiftType'}}">
  	  <label for="shiftType" class="required">Shift Type</label>
  	  <select class="form-control" name="shiftType">
  	  	<option value="">Choose a Shift Type</option>
  	    {{#each shiftTypes}}
  	    	<option value="{{_id}}">{{name}}</option>
  	    {{/each}}
  	  </select>
      <span class="help-block">{{errorMessage 'shiftType'}}</span>
	  </div>
    {{> rateSelectedTemplate}}
    {{#if isInRole 'manager'}}
  		<div class="checkbox form-group">
  	    <label><input type="checkbox" name="riderType" checked="checked">Schedule as Rider</label>
  	  </div>
    {{else}}
      <div class="checkbox form-group">
        <label><input type="checkbox" name="guaranteeRate">Guarantee Rate</label>
      </div>
    {{/if}}
    <div class="form-group">
      <label class="control-label" for="comments">Comments</label>
      <textarea rows="3" name="comments" type="text" placeholder="Add your comments" class="form-control"></textarea>
    </div>
    {{#if isInRole 'manager'}}
      <input type="submit" value="Schedule Rider" class="btn btn-primary"/>
    {{else}}
      <input type="submit" value="Request Schedule" class="btn btn-primary"/>
    {{/if}}
  </form>
</template>

<template name="rateSelectedTemplate">
  {{#if rateSelect.rateAmount}}
    <div>
      <strong>Rate Amount:</strong> ${{rateSelect.rateAmount}}<br/>
      {{#if rateSelect.comments}}
        <strong>Comments:</strong> {{rateSelect.comments}}
      {{/if}}
    </div>
  {{/if}}
</template>
