<template name="rateAdd">
  <form class="main form page" name="insertForm">
    <div class="form-group has-feedback">
      <label class="control-label required" for="scheduleDate">Schedule Date</label>
      <input name="scheduleDate" type="text" placeholder="Select Date" class="form-control"/>
      <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
    </div>
    <div class="form-group">
  	  <label for="shiftType" class="required">Shift Type</label>
  	  <select class="form-control" name="shiftType">
  	  	<option value="">Choose a Shift Type</option>
  	    {{#each shiftTypes}}
  	    	<option value="{{_id}}">{{name}}</option>
  	    {{/each}}
  	  </select>
	  </div>
    <div class="form-group">
      <label class="control-label required" for="rateAmount">Rate Amount</label>
      <div class="controls">
        <div class="input-group">
  	      <span class="input-group-addon">$</span>
  	      <input name="rateAmount" id="rateAmount" type="number" min="0" max="3000" placeholder="Input shift rate" class="form-control"/>
          <span class="input-group-addon">.00</span>
  	    </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="comments">Comments</label>
      <div class="controls">
        <textarea rows="3" name="comments" type="text" placeholder="Add your comments" class="form-control"></textarea>
      </div>
    </div>
    <input type="submit" value="Create Shift Rate" class="btn btn-primary"/>
  </form>
</template>
