<template name="rateItem">
  <div class="item">
    <div class="item-content">
      <div class="col-xs-6">
        <h3>
          <i class="fa fa-calendar"></i>
          {{scheduleDatePretty}}
        </h3>
        <strong>Shift Type:</strong> {{shiftType.name}}<br/>
        <strong>Rate Amount:</strong> ${{rateAmount}}
      </div>
      <div class="col-xs-6 text-left">
        {{#if comments}}
          <strong>Comments:</strong> {{comments}}
        {{else}}
          <strong>No Comments Set</strong>
        {{/if}}
      </div>
    </div>
  </div>
</template>
