<template name="rateAdd">
<form class="main form page" name="insertForm">
  <div class="form-horizontal">
	<div class="form-group {{errorClass 'shiftType'}}">
	  <label for="shiftType" class="col-sm-3 control-label required">Shift Type:</label>
	  <div class="col-sm-9">
	    <select class="form-control" id="shiftType" name="shiftType">
	      <option value="">Choose a Shift Type</option>
	        {{> shiftTypes}}
	    </select>
	    <span class="help-block">{{errorMessage 'shiftType'}}</span>
	  </div>
	</div>
	<div class="form-group {{errorClass 'rateAmount'}}">
	  <label for="rateAmount" class="col-sm-3 control-label required">Rate:</label>
	  <div class="col-sm-9">
	    <div class="input-group">
	      <span class="input-group-addon">$</span>
	        <input name="rateAmount" id="rateAmount" type="number" min="0" max="3000" placeholder="Input shift rate" class="form-control"/>
          <span class="input-group-addon">.00</span>
	    </div>
	    <span class="help-block">{{errorMessage 'rateAmount'}}</span>
	  </div>
	</div>
	<div class="form-group">
	  <div class="col-sm-offset-3 col-sm-9">
		<input type="submit" value="Schedule Rate" class="btn btn-primary"/>
	  </div>
	</div>
  </div>
</form>
</template>