<template name="radioItem">
  <div class="item">
    <div class="item-content">
      <div class="col-xs-6">
    	  <h3>
          <i class="fa fa-phone"></i>
          Radio: {{name}}
        </h3>
    	  <small><strong>Status:</strong> {{#if active}}Active{{else}}Not Active{{/if}}</small>
      </div>
      <div class="col-xs-6 text-right">
        <a href="{{pathFor 'radioEdit'}}">
          <button type="button" class="btn btn-default">Edit</button>
        </a>
      </div>
    </div>
  </div>
</template>
